<?xml version="1.0"?>

<window>
  <width>620</width>
  <height>860</height>
</window>

<plugin filename="my_gz_gui_plugin" name="my_gz_gui_plugin::MyGuiPlugin">
  <gz-gui>
    <title>Kumi Control</title>
    <property type="bool" key="showTitleBar">true</property>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <topic_emergency>/kumi_behavior/emergency</topic_emergency>
  <topic_walk_enabled>/kumi_seq_traj_controller/enabled</topic_walk_enabled>
  <topic_gait>/kumi_seq_traj_controller/gait</topic_gait>
  <gaits>walk,flip,flip_sx,flip_dx,bflip,bflip_sx,bflip_dx,accovacciato</gaits>
  <title>Kumi Control</title>
</plugin>
