<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kumi">

    <xacro:arg name="pkg_share" default="$(find kumi_description)" />
    <xacro:property name="pkg_share" value="$(arg pkg_share)"/>

    <xacro:include filename="${pkg_share}/urdf/macros.xacro" />
    <xacro:include filename="${pkg_share}/urdf/core.xacro" />
    <xacro:include filename="${pkg_share}/urdf/sensors.xacro" />
    <xacro:include filename="${pkg_share}/urdf/gazebo_plugins.xacro" />
</robot>
