<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kumi">

    <xacro:property name="kumi_share" value="$(find kumi_description)"/>

    <xacro:include filename="${kumi_share}/urdf/variables.xacro" />
    <xacro:include filename="${kumi_share}/urdf/trajectory_control.xacro" />
    <xacro:include filename="${kumi_share}/urdf/kumi_mesh_stereocamera.xacro" />
    <xacro:include filename="${kumi_share}/urdf/sensors_config.xacro" />
</robot>
