<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kumi">
   
    <gazebo reference="front_camera">
        <sensor name="frontCamera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <topic>/frontCamera/image</topic>
            <gz_frame_id>camera_rgb_frame</gz_frame_id>
            <camera name="intel_realsense_r200">
                <camera_info_topic>frontCamera/camera_info</camera_info_topic>
                <horizontal_fov>1.02974</horizontal_fov>
                <image>
                    <width>1920</width>
                    <height>1080</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
    </gazebo>

    <gazebo reference="rear_camera">
        <sensor name="rearCamera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <topic>/rearCamera/image</topic>
            <gz_frame_id>camera_rgb_frame</gz_frame_id>
            <camera name="intel_realsense_r200">
                <camera_info_topic>backCamera/camera_info</camera_info_topic>
                <horizontal_fov>1.02974</horizontal_fov>
                <image>
                    <width>1920</width>
                    <height>1080</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
    </gazebo>

    <gazebo reference="body">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>

            <topic>/bodyImu/data</topic>

            <imu>
                <angular_velocity>
                    <x noise_type="gaussian" mean="0.0" stddev="0.001"/>
                    <y noise_type="gaussian" mean="0.0" stddev="0.001"/>
                    <z noise_type="gaussian" mean="0.0" stddev="0.001"/>
                </angular_velocity>

                <linear_acceleration>
                    <x noise_type="gaussian" mean="0.0" stddev="0.01"/>
                    <y noise_type="gaussian" mean="0.0" stddev="0.01"/>
                    <z noise_type="gaussian" mean="0.0" stddev="0.01"/>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

    <gazebo reference="front_foot">
        <sensor name='frontFootCollisionSensor' type='contact'>
          <contact>
            <collision>frontFootCollision</collision>
            <topic>/collisionFlag/frontFoot</topic>
          </contact>
          <always_on>1</always_on>
          <update_rate>100</update_rate>
        </sensor>
    </gazebo>

    <gazebo reference="rear_foot">
        <sensor name='rearFootCollisionSensor' type='contact'>
          <contact>
            <collision>rearFootCollision</collision>
            <topic>/collisionFlag/rearFoot</topic>
          </contact>
          <always_on>1</always_on>
          <update_rate>100</update_rate>
        </sensor>
    </gazebo>


</robot>
