<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kumi">

    <xacro:property name="ang_low_lim" value="0.85" />
    <xacro:property name="ang_up_lim" value="4" />
    <xacro:property name="thikness" value="0.15" />
    <xacro:property name="lenght" value="0.18" />
    <xacro:property name="leg_len" value="0.11" />
    <xacro:property name="foot_len" value="0.5" />
    <xacro:property name="toll" value="0.005" />
    <xacro:property name="mass" value="0.3" />
    <xacro:property name="joint_friction" value="0.2" />

</robot>
