<?xml version="1.0"?>
<model>
  <name>real_stairs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>kumi</name>
    <email>placeholder@example.com</email>
  </author>
  <description>
    Simple stair model with 6 cm risers built from boxes.
  </description>
</model>
